body { 
  font-family: "Shippori Mincho B1", serif;
  
}
  
.current-city {
  color: #5c636a;
  font-size: 36px;
  font-weight: 100;
  padding: 20px;
  line-height: 28px;
  text-align: left;
  display: block;
  margin-bottom: 0;
}
#temperature-description {
  text-align: left;
  line-height: 1; 
}
h2 {
  color: #5c636a;
  font-size: 35px;
  line-height: 1;
  text-align: center;
}

h3 {
  font-size: 25px;
  line-height: 1;
  color: #5c636a;
  text-align: center;
}
h4 {
  font-size: 25px;
  color: #5c636a;
  display: inline;
}
.current-temperature {
  display: block;
  position: relative;
  left: 0px;
}
.humidity {
  font-size: 25px;
}
.wind {
  font-size: 25px;
}
#current-date {
  font-weight: 100;
  font-size: 25px;
  text-align: left; 
}
.search-form {
  margin: 0 auto;
}

.button {
  font-size: 13px;
  box-shadow: rgb(0 0 0 / 20%) 0 3px 3px 0;
  background-color: #134a61;
  color: white;
}
.button:hover {
  color: white;
  background-color: #2da3d6;
}
#current-btn {
  left: 300px;
  top: -85px;
  border-radius: 12px;
  color: white;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}
#current-btn hover {
  color: grey;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  cursor: pointer;
}

a {
  text-align: right;
}

.current-stats {
  display: block;
  font-size: 15px;
  font-weight:100;
  height: 20px;
  line-height: 19px;
  text-align: right;
  list-style: none; 
  margin: 0;
  padding: 9;
}
.units {
  position: relative; 
  font-size: 20px;
  top: -55px;
}
.units .active {
  color: black; 
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}

#temperature-description {
  display: inline;
}

ul {
  text-align: right;
  font-size: 25px;
  color: #5c636a;
}
li {
  list-style: none;
  font-size: 25px;
  color: #5c636a;;
  font-weight: 100;
  line-height: 19px; 
  margin: 0;
  padding: 0;
  text-align: center;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  height: 64px; 
  width: 64px;
  margin-right: 15px;
  float: left;
}
.weather-condition {
  font-size: 16px;
  color: #A6A6A4;
}

p {
  font-family: "Shippori Mincho B1", serif;
  color: #5c636a;
  font-size: 24px;
  text-align: left;
}

span {
  font-size: 12px;
}


.footer {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  color: black;
  text-align: center;
}

.icons {
  color: grey;
  font-size: 12px;
  text-align: center;
}

.container {
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0 5px 5px 0;
  max-width: 600px;
  height: auto;
  padding: 20px;
  border: 1px solid #dadde1;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);

}